<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets async="true">
    <!-- add your targets here -->

    <target xsi:type="File"
             name="default"
             layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
             fileName="${basedir}\Debug.log"
             keepFileOpen="false"
             archiveFileName="${basedir}\Logs\Debug_${shortdate}.{##}.log"
             archiveNumbering="Sequence"
             archiveEvery="Day"
             maxArchiveFiles="30"
            />
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <logger name="*" writeTo="default" minlevel="Debug" />
    
  </rules>
</nlog>